[2020-03-23 10:16] g4s8 opened #3 "Gem API service"
Add API stubs for Ruby gem service/registry. Let's start with API documentation in the readme file.

[2020-03-23 11:46] 0crat commented on #3
The job [#3](https://github.com/artipie/gem-adapter/issues/3) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0d03d833-dfb4-4690-9874-ab3462880f3f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2020-03-24 10:46] g4s8 commented on #3
@rultor release, tag=`0.1`

[2020-03-24 10:48] rultor commented on #3
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21597-603166153)

[2020-03-24 11:01] rultor commented on #3
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21597-603166153) (took me 12min)

[2020-03-27 18:57] 0pdd opened #9 "SubmitGem.java:39-41: Gem submission implementation. The..."
The puzzle `32-7ef023e4` from #32 has to be resolved:

https://github.com/artipie/gem-adapter/blob/1b2c6cf613f1ef3e226304e53b823d83721763ea/src/main/java/com/artipie/gem/SubmitGem.java#L39-L41

The puzzle was created by @Sammers21 on 27-Mar-20.

Estimate: 120 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2020-03-27 18:57] 0crat commented on #9
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-27 18:59] 0crat commented on #9
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.52.2](https://github.com/zerocracy/farm): Issue: artipie/gem-adapter#9, Action: `opened`

[2020-03-28 12:54] 0crat commented on #3
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-30 06:32] g4s8 commented on #3
@rultor release, tag=`0.1.2`

[2020-03-30 06:34] rultor commented on #3
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21597-605809467)

[2020-03-30 06:46] rultor commented on #3
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21597-605809467) (took me 11min)

[2020-04-02 12:06] 0crat commented on #3
The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#3](https://github.com/artipie/gem-adapter/issues/3), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-04-02 12:24] 0crat commented on #3
The job [#3](https://github.com/artipie/gem-adapter/issues/3) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/817f447a-a4a7-45d5-848d-877785a081d1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-04-02 13:25] g4s8 commented on #3
@0crat assign @Sammers21

[2020-04-02 13:25] g4s8 commented on #3
@0crat wait

[2020-04-02 13:27] 0crat commented on #3
@g4s8 Job `gh:artipie/gem-adapter#3` is not assigned, can't get performer

[2020-04-02 13:29] g4s8 commented on #3
@0crat wait

[2020-04-02 13:31] 0crat commented on #3
@g4s8 The job [#3](https://github.com/artipie/gem-adapter/issues/3) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e7790a14-4764-4b85-aed6-76a84e747ddd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-04-06 16:18] 0pdd opened #11 "GemInfo.java:40-42: Gem Information implementation. The..."
The puzzle `32-d2ff0e89` from #32 has to be resolved:

https://github.com/artipie/gem-adapter/blob/6188914211669540a343b2bfa5e09dcd739dfc6a/src/main/java/com/artipie/gem/GemInfo.java#L40-L42

The puzzle was created by @Sammers21 on 06-Apr-20.

Estimate: 120 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2020-04-06 17:19] 0crat commented on #11
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-10 00:27] Sammers21 opened #13 "JRuby internal usage"
There are a few reasons how internal usage of JRuby can be useful:

1. Ruby has own serialization approach. All the metadata files serialized in the given format and there is no Java-based parser. With JRuby the deserialization task becomes fairly simple. An example:

![image](https://user-images.githubusercontent.com/16746106/78950927-f8910680-7ad8-11ea-8207-c941dc0ef05a.png)

2. Metadata generat

[2020-04-10 00:28] 0crat commented on #13
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-10 00:28] 0crat commented on #13
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53](https://github.com/zerocracy/farm): Issue: artipie/gem-adapter#13, Action: `opened`

[2020-04-10 11:54] g4s8 commented on #13
@Sammers21 ok, let's implement gem artifacts parser for metadata generator using jruby

[2020-04-10 15:41] 0pdd opened #15 "GemSlice.java:46-49: Initialize on first request...."
The puzzle `13-4aa56782` from #13 has to be resolved:

https://github.com/artipie/gem-adapter/blob/26af0b4587ecbbc7702d1c124e8c6bc9cb78cb34/src/main/java/com/artipie/gem/GemSlice.java#L46-L49

The puzzle was created by @Sammers21 on 10-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2020-04-10 15:42] 0pdd commented on #13
@Sammers21 the puzzle [#15](https://github.com/artipie/gem-adapter/issues/15) is still not solved.

[2020-04-10 15:42] 0crat commented on #15
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-10 15:44] 0crat commented on #15
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.1](https://github.com/zerocracy/farm): Issue: artipie/gem-adapter#15, Action: `opened`

[2020-04-16 10:16] #13 closed

[2020-04-16 10:34] 0crat commented on #13
Job `gh:artipie/gem-adapter#13` is not assigned, can't get performer

[2020-04-21 15:10] g4s8 commented on #9
@rultor release, tag=`0.1.3`

[2020-04-21 15:11] rultor commented on #9
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21833-617241356)

[2020-04-21 15:18] rultor commented on #9
@0pdd @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21833-617241356) (spent 6min)

[code]

[2020-04-22 06:38] 0pdd opened #24 "SubmitGem.rb:33-35: Random gem name generation...."
The puzzle `9-d34d2491` from #9 has to be resolved:

https://github.com/artipie/gem-adapter/blob/8ac1d79454cfb4f865705467889604cd1fa8fb79/src/main/ruby/SubmitGem.rb#L33-L35

The puzzle was created by @g4s8 on 22-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2020-04-22 06:38] 0pdd opened #25 "SubmitGem.rb:38-40: Sync generated indexes with Storage...."
The puzzle `9-d0d317ad` from #9 has to be resolved:

https://github.com/artipie/gem-adapter/blob/8ac1d79454cfb4f865705467889604cd1fa8fb79/src/main/ruby/SubmitGem.rb#L38-L40

The puzzle was created by @g4s8 on 22-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2020-04-22 06:38] 0pdd commented on #9
@0pdd 2 puzzles [#24](https://github.com/artipie/gem-adapter/issues/24), [#25](https://github.com/artipie/gem-adapter/issues/25) are still not solved.

[2020-04-22 11:05] #24 closed

[2020-04-22 11:05] 0pdd commented on #9
@0pdd the puzzle [#25](https://github.com/artipie/gem-adapter/issues/25) is still not solved; solved: [#24](https://github.com/artipie/gem-adapter/issues/24).

[2020-04-29 14:38] 0pdd opened #30 "GemSlice.java:99-102: Use underlying storage. Currency,..."
The puzzle `25-b18eefce` from #25 has to be resolved:

https://github.com/artipie/gem-adapter/blob/2c45b3c10a11f4f5fd6d9a4a4557f031d0a04b3a/src/main/java/com/artipie/gem/GemSlice.java#L99-L102

The puzzle was created by @Sammers21 on 29-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2020-04-29 14:38] 0pdd commented on #9
@0pdd 2 puzzles [#25](https://github.com/artipie/gem-adapter/issues/25), [#30](https://github.com/artipie/gem-adapter/issues/30) are still not solved; solved: [#24](https://github.com/artipie/gem-adapter/issues/24).

[2020-04-29 14:38] 0pdd commented on #25
@0pdd the puzzle [#30](https://github.com/artipie/gem-adapter/issues/30) is still not solved.

[2020-04-29 14:39] g4s8 commented on #3
@rultor release, tag=`0.1.3`

[2020-04-29 14:39] 0crat commented on #30
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-29 14:40] 0crat commented on #30
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.13](https://github.com/zerocracy/farm): Issue: artipie/gem-adapter#30, Action: `opened`

[2020-04-29 14:40] rultor commented on #3
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21597-621254601)

[2020-04-29 14:40] rultor commented on #3
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21597-621254601) (spent 17s)

[code]

[2020-04-29 14:54] Sammers21 commented on #3
@g4s8, can you fix that?

[2020-04-29 15:07] g4s8 commented on #3
@rultor release, tag=`0.1.3`

[2020-04-29 15:08] rultor commented on #3
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21597-621272910)

[2020-04-29 15:11] rultor commented on #3
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21597-621272910) (spent 2min)

[code]

[2020-04-29 15:17] g4s8 commented on #3
@rultor release, tag=`0.1.3`

[2020-04-29 15:19] rultor commented on #3
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21597-621279291)

[2020-04-29 15:21] rultor commented on #3
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21597-621279291) (spent 2min)

[code]

[2020-04-29 15:27] g4s8 commented on #3
@rultor release, tag=`0.1.3`

[2020-04-29 15:34] rultor commented on #3
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21597-621285414) (spent 5min)

[code]

[2020-04-29 18:41] 0crat commented on #30
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.13](https://github.com/zerocracy/farm): Issue: artipie/gem-adapter#30, Action: `created`

[2020-04-30 06:45] g4s8 commented on #3
@Sammers21 there are build failure:
[code]

[2020-04-30 07:02] g4s8 commented on #3
@rultor release, tag=`0.1.3`

[2020-04-30 07:03] rultor commented on #3
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21597-621652517)

[2020-04-30 07:07] rultor commented on #3
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21597-621652517) (spent 4min)

[code]

[2020-04-30 07:10] g4s8 commented on #3
@rultor release, tag=`0.1.3`

[2020-04-30 07:11] rultor commented on #3
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21597-621655655)

[2020-04-30 07:13] rultor commented on #3
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21597-621655655) (spent 2min)

[code]

[2020-04-30 07:19] g4s8 commented on #3
@rultor release, tag=`0.1.3`

[2020-04-30 07:20] rultor commented on #3
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21597-621659406)

[2020-04-30 07:22] rultor commented on #3
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21597-621659406) (spent 2min)

[code]

[2020-04-30 07:53] g4s8 commented on #3
@rultor release, tag=`0.1.3`

[2020-04-30 07:54] rultor commented on #3
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21597-621675265)

[2020-04-30 07:58] rultor commented on #3
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21597-621675265) (spent 4min)

[code]

[2020-04-30 08:24] g4s8 commented on #3
@rultor release, tag=`0.1.3`

[2020-04-30 08:25] rultor commented on #3
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21597-621690072)

[2020-04-30 08:32] rultor commented on #3
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21597-621690072) (spent 7min)

[code]

[2020-04-30 08:45] g4s8 commented on #3
@rultor release, tag=`0.1.3`

[2020-04-30 08:46] rultor commented on #3
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21597-621700140)

[2020-04-30 08:55] rultor commented on #3
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21597-621700140) (took me 9min)

[2020-05-08 14:26] Sammers21 opened #40 "Own version of indexer"
`Gem::Indexer`(currently used) stores metadata files locally, we need to have an own version which would store files in ASTO based storage.

[2020-05-08 14:26] 0crat commented on #40
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-08 14:26] 0crat commented on #40
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.14](https://github.com/zerocracy/farm): Issue: artipie/gem-adapter#40, Action: `opened`

[2020-05-08 14:31] 0crat commented on #40
The job [#40](https://github.com/artipie/gem-adapter/issues/40) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/d90859d6-64bf-4fbb-a0b3-2d14f8397658); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-05-08 17:15] #9 closed

[2020-05-08 17:15] 0pdd commented on #9
The puzzle `32-7ef023e4` has disappeared from the source code, that's why I closed this issue.

[2020-05-08 17:15] #25 closed

[2020-05-08 17:15] 0pdd commented on #25
The puzzle `9-d0d317ad` has disappeared from the source code, that's why I closed this issue.

[2020-05-08 17:15] #30 closed

[2020-05-08 17:15] 0pdd commented on #30
The puzzle `25-b18eefce` has disappeared from the source code, that's why I closed this issue.

[2020-05-08 17:15] 0pdd commented on #9
@0pdd all 3 puzzles are solved here: [#24](https://github.com/artipie/gem-adapter/issues/24), [#25](https://github.com/artipie/gem-adapter/issues/25), [#30](https://github.com/artipie/gem-adapter/issues/30).

[2020-05-08 17:15] 0pdd commented on #25
@0pdd the only puzzle [#30](https://github.com/artipie/gem-adapter/issues/30) is solved here.

[2020-05-08 17:45] 0crat commented on #9
Job `gh:artipie/gem-adapter#9` is not assigned, can't get performer

[2020-05-08 17:45] 0crat commented on #25
Job `gh:artipie/gem-adapter#25` is not assigned, can't get performer

[2020-05-08 17:45] 0crat commented on #30
Job `gh:artipie/gem-adapter#30` is not assigned, can't get performer

[2020-05-13 14:46] 0crat commented on #40
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-14 11:50] 0pdd opened #42 "Adapt AstoIndexer to generate files in storage"
The puzzle `9-59a54dc4` from #9 has to be resolved:

https://github.com/artipie/gem-adapter/blob/890210fa1ed53ed345e99a2f1b6653630b6624df/src/main/ruby/AstoIndexer.rb#L22-L24

The puzzle was created by @Sammers21 on 08-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and th

[2020-05-14 11:50] 0pdd commented on #9
@0pdd the puzzle [#42](https://github.com/artipie/gem-adapter/issues/42) is still not solved; solved: [#24](https://github.com/artipie/gem-adapter/issues/24), [#25](https://github.com/artipie/gem-adapter/issues/25), [#30](https://github.com/artipie/gem-adapter/issues/30).

[2020-05-14 11:52] 0crat commented on #42
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-14 11:52] 0crat commented on #42
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.14](https://github.com/zerocracy/farm): Issue: artipie/gem-adapter#42, Action: `opened`

[2020-05-14 12:40] #40 closed

[2020-05-14 12:46] Sammers21 opened #43 "Bidirectional storage syncronization"
Now only locally generated files are copied into underlying storage without checking for updates, which is bad in a numerous amount of cases.

The suggestion is to perform synchronization in both directions and synchronize the only often changing(the specs) and newly created files.

[2020-05-14 12:46] 0crat commented on #43
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-14 12:46] 0crat commented on #43
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.14](https://github.com/zerocracy/farm): Issue: artipie/gem-adapter#43, Action: `opened`

[2020-05-14 13:00] 0crat commented on #40
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sammers21[/z](https://www.0crat.com/u/sammers21), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-14 13:09] sereshqua commented on #40
@g4s8 we need to make sure that problem reporter and problem solver are two different persons

[2020-05-14 15:45] #43 closed

[2020-05-14 16:03] 0crat commented on #43
Job `gh:artipie/gem-adapter#43` is not assigned, can't get performer

[2020-05-17 10:24] sereshqua commented on #40
@0crat quality acceptable

[2020-05-19 11:51] g4s8 commented on #40
@rultor release, tag=`0.1.4`

[2020-05-19 11:52] rultor commented on #40
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22099-630768341)

[2020-05-19 12:01] rultor commented on #40
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22099-630768341) (took me 9min)

[2020-05-19 13:24] g4s8 opened #45 "Gem doesn't support authorization"
Gem adapter should support authorization mechanisms as other repositories. Main slice entry point has to accept `Permissions` and `Authentication` objects and use them to construct `SliceAuth` wrapper (see `MavenSlice` or `FilesSlice` for example).
If gem uses HTTP basic authentication, then standard implementation `BasicIdentities` from `artipie/http` module can be used. Otherwise, we have to imp

[2020-05-19 13:25] 0crat commented on #45
The job [#45](https://github.com/artipie/gem-adapter/issues/45) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/4c8f52ea-dce1-4b4e-a08c-9c4aa3a6b1a4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-06-11 12:03] g4s8 commented on #45
@0crat refuse

[2020-06-11 12:06] 0crat commented on #45
@g4s8 Job `gh:artipie/gem-adapter#45` is not assigned, can't get performer

[2020-07-21 06:56] Sammers21 opened #46 "Update asto and http versions"
The versions are outdated and should be updated

[2020-07-21 07:49] #46 closed

[2020-07-21 07:52] Sammers21 commented on #46
@g4s8, release a new version please

[2020-07-21 08:06] 0crat commented on #46
Job `gh:artipie/gem-adapter#46` is not assigned, can't get performer

[2020-07-21 09:39] g4s8 commented on #46
@rultor release, tag=`0.2`

[2020-07-21 09:40] rultor commented on #46
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22674-661750915)

[2020-07-21 09:51] rultor commented on #46
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22674-661750915) (took me 10min)

[2020-07-22 07:31] Sammers21 opened #49 "Gems are not available for download after an upload"
The reason why gems are not available for download is that gems are named randomly and not synced with asto.

The current gem proof demonstrate the error:
https://github.com/artipie/artipie/runs/894462378?check_suite_focus=true#step:4:55

PRs:
* [x] - #50 merged
* [x] - #51 merged

[2020-07-22 07:57] Sammers21 commented on #49
@g4s8, with #50 and #51, the gem proof at Artipie examples will pass, just checked it.

[2020-07-22 13:42] g4s8 commented on #49
@rultor release, tag=`0.2.2`

[2020-07-22 13:43] g4s8 commented on #49
@Sammers21 both PRs were merged, releasing a new version now

[2020-07-22 13:43] rultor commented on #49
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22692-662460836)

[2020-07-22 13:56] rultor commented on #49
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22692-662460836) (took me 13min)

[2020-07-22 14:02] #49 closed

[2020-07-22 14:20] 0crat commented on #49
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-13 11:42] g4s8 opened #52 "Gem adapter doesn't accept generic publishers"
After changing `Publisher` implementation of request body, gem adapter started to fail:
[code]

[2020-08-14 11:55] #52 closed

[2020-08-14 11:55] g4s8 commented on #45
@Sammers21 can you please describe what API is needed for Gem repo authentication?

[2020-08-14 11:56] g4s8 commented on #52
@rultor release, tag=`0.2.3`

[2020-08-14 11:57] rultor commented on #52
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22952-674039018)

[2020-08-14 12:04] rultor commented on #52
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22952-674039018) (spent 7min)

[code]

[2020-08-14 12:12] 0crat commented on #52
Job was finished in 23 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-17 08:13] g4s8 opened #54 "Gem build is failing"
Release is failing with this error message: https://github.com/artipie/gem-adapter/issues/52#issuecomment-674041928

[2020-08-17 08:19] Sammers21 commented on #54
@g4s8, i have no idea on how to reproduce the error. I suggest you fix it yourself.

[2020-08-17 08:19] Sammers21 commented on #54
@0crat refuse

[2020-08-17 14:37] Sammers21 commented on #45
@g4s8,
![image](https://user-images.githubusercontent.com/16746106/90408286-50a3cf00-e0b0-11ea-82f7-266062081af0.png)
https://guides.rubygems.org/rubygems-org-api/

[2020-08-17 14:41] Sammers21 commented on #54
So let me have the access to the `release` command so I can at least try to fix the error.

[2020-08-18 07:13] Sammers21 commented on #54
@g4s8, I've found out the error source. Artipie central has corrupted jars. I would suggest disabling Artpie central for now.

[2020-08-18 11:19] g4s8 commented on #54
@Sammers21 yes, the problem is in Maven proxy repository with corrupted cache after unexpected shutdown. Latest ppom doesn't have remote for Artipie-central proxy, only for private Maven repo.

[2020-08-18 11:24] 0crat commented on #54
@Sammers21 The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#54](https://github.com/artipie/gem-adapter/issues/54), please stop working. Reason for job resignation: Order was cancelled

[2020-08-18 14:02] #54 closed

[2020-08-18 14:28] 0crat commented on #54
Job `gh:artipie/gem-adapter#54` is not assigned, can't get performer

[2020-08-20 08:58] Sammers21 commented on #45
@rultor, release tag=`0.3`

[2020-08-20 08:59] rultor commented on #45
@sammers21 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23069-677471395)

[2020-08-20 08:59] rultor commented on #45
@sammers21 @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23069-677471395) (spent 16s)

[code]

[2020-08-20 09:11] Sammers21 commented on #45
@yegor256, can you please change something in `.rultor.yaml` file so I can release a new version?

[2020-08-20 11:08] olegmoz commented on #45
@rultor release, tag=`0.3`

[2020-08-20 11:09] rultor commented on #45
@olegmoz Thanks for your request. @g4s8 Please confirm this.

[2020-08-20 11:10] olegmoz commented on #45
@Sammers21 please try again to release as you are an architect in `.rultor`

[2020-08-20 11:15] Sammers21 commented on #45
@rultor release, tag=`0.3`

[2020-08-20 11:16] rultor commented on #45
@sammers21 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23069-677542253)

[2020-08-20 11:32] rultor commented on #45
@sammers21 Done! FYI, the full log is [here](https://www.rultor.com/t/23069-677542253) (took me 15min)

[2020-08-28 08:58] #45 closed

[2020-09-28 13:38] Sammers21 opened #76 "Use different dirs for different gem adapter repos"
Now all the repos stored in a single temp dir. This way would not allow to use more then 1 instance of gem adapter in an instance of artipie.

[2020-09-30 12:04] Sammers21 opened #79 "Enable test logs"
Now logs are not printed because during tests because of ppom update.

[2020-09-30 12:20] #79 closed

[2020-11-27 09:08] genryxy opened #81 "Support Basic authentication"
It would be good to support `Basic` authentication for Gem to install passing credentials in the url. To do this, you need to modify the method `GemApiKeyIdentities#user`

[2020-11-30 13:23] #81 closed

[2020-11-30 14:36] genryxy commented on #81
@olegmoz could you please release a new version

[2020-11-30 15:38] olegmoz commented on #81
@rultor release, tag=`0.5.2`

[2020-11-30 15:39] rultor commented on #81
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23783-735862456)

[2020-11-30 16:05] rultor commented on #81
@genryxy @olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23783-735862456) (spent 27min)

[code]

[2020-11-30 18:18] olegmoz commented on #81
@rultor release, tag=`0.5.3`

[2020-11-30 18:19] rultor commented on #81
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23783-735956384)

[2020-11-30 18:33] rultor commented on #81
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23783-735956384) (took me 14min)

[2020-12-04 09:51] genryxy opened #83 "Remove deprecated auth classes"
Now in `GemApiKeyIdentities`, `ApiKeySlice`, `GemSlice` suppress warnings annotations are used for deprecation because `com.artipie.http` module was updated from 0.16.2 to 0.17.1 (see #82). So, these annotations should be removed.

[2020-12-07 13:16] #83 closed

[2020-12-30 19:17] genryxy commented on #83
@olegmoz  could you please release `0.6` version of Gem because here is exception with index out of bound in class that is deprecated https://github.com/genryxy/artipie/runs/1619140634#step:4:44 Probably it will help to fix Gem proof.

[2020-12-31 06:26] olegmoz commented on #83
@rultor release, tag=`0.6`

[2020-12-31 06:27] rultor commented on #83
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23926-752861401)

[2020-12-31 06:37] rultor commented on #83
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23926-752861401) (took me 9min)

[2021-03-11 08:26] olenagerasimova opened #85 "Implement `GemInfo` slice"
Let's properly implement `GemInfo` slice provide information by json or yaml from request:
 - [x] HTTP `Slice` implementation for Gem info #94
 - [ ] SDK method for producing Gem info data in valid format

[2021-03-18 09:23] olenagerasimova opened #86 "Virtual repository support"
Let's add support for virtual repository and merging/parsing gem metadata.

[2021-03-25 09:47] g4s8 opened #87 "Gem - local repository"

[2021-03-25 09:50] #3 closed

[2021-03-25 09:52] g4s8 commented on #85
Related: #11

[2021-03-25 10:19] 0crat commented on #3
Job `gh:artipie/gem-adapter#3` is not assigned, can't get performer

[2021-04-07 08:22] g4s8 opened #89 "Gem SDK"
Introduce Gem repository SDK class to work with Gem data and generate metadata. It should encapsulate `Storage` insterface from `com.artipie.asto` and provides methods to update metadata for single package or batch update for packages:
[code]

[2021-04-20 11:54] Sammers21 commented on #89
There is no explanation for what you need.

[2021-04-21 10:09] g4s8 opened #90 "Rewrite slice implementation from ruby to java"
Remove existing Ruby files and implement `Slice` on Java using `com.artipie.http` packages, reuse `Gem` SDK implementation for Gem index updates instead of built-in scripts. Keep existing integration tests to verify that new implementation works find as HTTP repository.

[2021-04-22 09:38] milkysoft commented on #90
@g4s8 ,
[code]
does not work well with unit  test:
[code]
with error:
[code]

thus AsynResponse replaced with
[code]

[2021-04-22 09:54] g4s8 commented on #90
@milkysoft please don't use blocking calls such as `.join()` in production code, it's OK **only** in tests. Also, the test may require some fixes, e.g. assertion that status is 201, not 200

[2021-04-22 11:56] milkysoft commented on #90
@g4s8 , blocking calls removed with latest commit

[2021-05-13 09:32] g4s8 commented on #89
Done in #91

[2021-05-13 09:32] #89 closed

[2021-05-24 08:31] #90 closed

[2021-05-24 08:31] #42 closed

[2021-05-24 08:31] 0pdd commented on #42
The puzzle `9-59a54dc4` has disappeared from the source code, that's why I closed this issue.

[2021-05-24 08:31] 0pdd commented on #15
The puzzle `13-4aa56782` has disappeared from the source code, that's why I closed this issue.

[2021-05-24 08:31] #15 closed

[2021-05-24 08:31] 0pdd commented on #9
@0pdd all 4 puzzles are solved here: [#24](https://github.com/artipie/gem-adapter/issues/24), [#25](https://github.com/artipie/gem-adapter/issues/25), [#30](https://github.com/artipie/gem-adapter/issues/30), [#42](https://github.com/artipie/gem-adapter/issues/42).

[2021-05-24 08:31] 0pdd commented on #13
@Sammers21 the only puzzle [#15](https://github.com/artipie/gem-adapter/issues/15) is solved here.

[2021-05-24 12:37] milkysoft commented on #76
This issue is implemented in https://github.com/artipie/gem-adapter/pull/92

[2021-06-07 10:49] g4s8 opened #95 "Update dependencies"
Fix resolution dependencies, update parent pom

[2021-06-07 10:50] #95 closed

[2021-06-09 08:28] #11 closed

[2021-06-09 08:28] 0pdd commented on #11
The puzzle `32-d2ff0e89` has disappeared from the source code, that's why I closed this issue.

[2021-06-17 05:35] #76 closed

[2021-06-17 06:21] g4s8 commented on #86
@milkysoft let's start with specifying requirements of SDK for virtual repositories, researching of existing solutions on the market and decomposing these requirements

[2021-06-17 06:39] g4s8 opened #97 "Gem dependencies API"
Let's investigate what is `/api/v1/dependencies` API and create an SDK method to cover this API request.

[2021-06-17 11:34] milkysoft commented on #97
We should find Ruby command to return the same info as `gem dependecy XXXX`:

[code]

The command works only for installed gems, cannot extract dependency info for arbitrary gem file

[2021-06-17 11:59] milkysoft commented on #97
Among all other info, `Gem::Package.new('src/test/resources/gviz-0.3.5.gem').spec` returns required dependencies for arbitrary gem file
[code]

[2021-06-17 12:27] g4s8 commented on #97
@milkysoft does any documentation exist for this API endpoint? What this `/api/v1/dependencies` returns exactly?

[2021-06-17 12:42] milkysoft commented on #97
@g4s8 , yes, documentation regarding `/api/v1/dependencies` is [very clear](https://guides.rubygems.org/rubygems-org-api/):
[code]

[2021-06-17 12:46] g4s8 commented on #97
@milkysoft  I see, it says:

So we need to find a way to extract this information from gem files or metadata

[2021-06-17 12:51] milkysoft commented on #97
@g4s8, I confirm the information could be extracted from arbitrary gem file. Taking into account, that it is supposed to NOT transfer gem file in GET request, so we will return information only for installed gem, coping them as previously from existing storage

[2021-06-17 12:59] g4s8 commented on #97
@milkysoft I don't think the install operation is acceptable for repository manager service, we need to find a way to extract it from gem file or metadata without installations.

[2021-06-17 13:38] milkysoft commented on #97
@g4s8, I confirm the information could be extracted from arbitrary gem file without installation.

[2021-06-28 10:37] milkysoft commented on #97
`gem dependency gviz -r` sends the following requests to `gem sources` listed remote server:
1. GET /latest_specs.4.8.gz
2. GET /quick/Marshal.4.8/gviz-0.3.5.gemspec.rz

[2021-06-28 10:57] g4s8 commented on #97
@milkysoft please check this code, the gem library requests dependencies API here: https://github.com/rubygems/gems/blob/77cad26e101ba70e6cdb3ba2ac51139bdc5a0648/lib/gems/client.rb#L292

[2021-06-29 06:16] milkysoft commented on #97
@g4s8 , I confirm we are using exactly the algorithm above. I am trying to implement required route, adding to GemSlice:
[code]
and it responds with `Key latest_specs.4.8.gz not found` when `curl http://host.testcontainers.internal:36047/latest_specs.4.8.gz`. My question is, can we implement root paths or only `/api/v1` are available?

[2021-06-29 07:15] milkysoft commented on #97
@g4s8, we have successfully implemented `gem dependency` functionality:

1. Log to ruby container, add `gem sources` pointing to container, remove default with `gem sources -r https://rubygems.org/`:
[code]
2. For thor gem we did not upload it with test, so result is negative:
[code]
3. For gviz gem result is successful:
[code]
4. On server side the following requests were implemented:
[code]
5. U

[2021-06-29 08:27] g4s8 commented on #97
@milkysoft we need to find what command of `gem` uses `/dependencies` API first to verify it, please see my previous message with a link to source code https://github.com/artipie/gem-adapter/issues/97#issuecomment-869585450

[2021-06-29 12:46] milkysoft commented on #97
@g4s8 , tested `bundle install` command, still no request for `/v1/dependencies`:

1. Gemfile:
[code]
2. `bundle install`:
[code]
3. Requests on server side:
[code]
All these routes added to the Pull request

[2021-07-07 13:08] milkysoft commented on #97
Only gviz dependency reply:

![001](https://user-images.githubusercontent.com/13083981/124764374-8c9c8880-df3d-11eb-974a-4324500dfa13.png)

[2021-07-13 09:17] milkysoft commented on #97
Finally Custom Ruby Server calls /api/v1/dependencies on `bundle install`:

<img width="767" alt="Screenshot 2021-07-13 at 12 14 41" src="https://user-images.githubusercontent.com/13083981/125426066-4a697589-45e5-45ea-bba9-ab7f7deb0641.png">

[2021-07-16 06:33] #85 closed

[2021-07-16 06:33] 0pdd opened #101 "UncheckedSupplier.java:35-37: Move this class to..."
The puzzle `85-3d638df9` from #85 has to be resolved:

https://github.com/artipie/gem-adapter/blob/665f8c62c5b0e08fe23d673103da87dfb72d29d6/src/main/java/com/artipie/gem/UncheckedSupplier.java#L35-L37

The puzzle was created by @g4s8 on 16-Jul-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2021-07-16 06:33] 0pdd commented on #85
@olenagerasimova the puzzle [#101](https://github.com/artipie/gem-adapter/issues/101) is still not solved.

[2021-07-16 08:49] g4s8 opened #102 "v1.0"
[v1.0](https://github.com/artipie/gem-adapter/milestone/1) version includes:
 - #3
 - #90
 - #89
 - #85
 - #76
 - #42

[2021-07-19 11:59] milkysoft opened #103 "Enhance output JSON for /api/v1/gems/gemname.json route"
Currently output for `curl  http://host.testcontainers.internal:49199/api/v1/gems/gviz.json` request is:
[code]

This output contains all variables from `Gem::Package.new(gemname).spec`. While rubygems.org contains slightly different output with main differences as the following:
1. `homepage` key is `homepage_uri`,
2. `authors` is not be a string containing array, but string with comma delimiter

[2021-07-21 08:22] g4s8 opened #104 "Investigate gem naming"
Let's check what names uses gem stash to store files on `gem push` and use same naming, now we generate random names on push.

[2021-07-21 08:26] g4s8 commented on #103
@milkysoft good point, I think we can start by extending `InfoFormat<T>` to accept not a map but some tree abstraction of fields

[2021-07-21 11:13] milkysoft commented on #104
@g4s8, `gem push` command indeed sends POST request to Ruby Server, which saves attached file into folder similar to ` ~/.gemstash/private/gems/y/a/r/yard_0_9_26-0449f68b65f6eda69d7c1b04abe79594/` for `yard-0.9.26.gem`. In this folder gem file is created together with properties and spec:

[code]

[2021-07-21 12:25] g4s8 commented on #104
@milkysoft what is the gem stash root dir in this example?

[2021-07-30 09:56] #104 closed

[2021-08-02 12:18] milkysoft opened #109 "Remove temporarily files under gem directory"
When gem adapter accepts `gem push` request, it removes temporarily directory when indexing finishes. In addition, temporarily files should be removed from `gems` folder in current directory as well.

[2021-08-02 12:20] milkysoft opened #110 "Copy all gems for indexing instead of only one"
When gem-adapter performs indexing, it requires that all server-side gems would be available for indexing as `specs` along with all other files being recreated

[2021-08-03 05:48] milkysoft opened #113 "Improve indexing metadata"
Currently when new gem being pushed, all gems should be copied from server to create new metadata and copy it back to server.

Instead of copy all gems, just copy existing requited metadata files to create new metadata, including newly submitted gem

[code]

[2021-08-04 07:56] g4s8 commented on #110
We don't need to copy all gem repository for indexing, since the repository is usually huge - it can't be placed on server instance temporary dir, the download and upload operation are very expensive, it requires transferring terabytes of data via network.

[2021-08-04 07:56] #110 closed

[2021-08-04 07:57] g4s8 commented on #113
@milkysoft duplicate of #110 ?

[2021-08-05 05:54] #113 closed

[2021-08-05 05:56] g4s8 opened #114 "Bug: Gem index is replaced on update"
When a user is updating Gem repository metadata using SDK, the SDK replaces old metadata with new one for single package uploaded. The metadata files should be updated, and new gem information should be appended to old files instead of replacing.

We need to find a method to update metadata **without copying** the full repository from storage to local machine.

[2021-08-05 08:18] milkysoft opened #115 "Use Java to create Gem info"

[2021-08-09 08:21] #109 closed

[2021-08-10 10:12] milkysoft opened #117 "Upgrade JRuby to latest version"
Latest JRuby version is supposed to fix known vulnerabilities

[2021-08-10 11:51] #117 closed

[2021-08-12 05:30] g4s8 commented on #115
@milkysoft it's a duplicate of #103

[2021-08-12 05:30] #115 closed

[2021-09-01 10:19] milkysoft opened #120 "Bug: Fix Gem info routes"
Currently requests like GET `/api/v1/gems/{gemname}.json` produce responses for gems, which names don't contain dash `-`. Requests fail if gem name contains dash, like with `file-tail-1.2.0.gem`

[2021-09-03 13:10] g4s8 opened #122 "Yaml format"
Produce YAML responses for gem info if requested: `GET /api/v1/gems/([\\w]+).yml`

[2021-09-06 08:50] 0pdd opened #124 "JsonMetaFormat.java:34-36: Add tests for this class...."
The puzzle `122-d55ec42f` from #122 has to be resolved:

https://github.com/artipie/gem-adapter/blob/adb502fa1a06940872b7bee26cd254039f54c914/src/main/java/com/artipie/gem/JsonMetaFormat.java#L34-L36

The puzzle was created by @g4s8 on 06-Sep-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pro

[2021-09-06 08:50] 0pdd commented on #122
@g4s8 the puzzle [#124](https://github.com/artipie/gem-adapter/issues/124) is still not solved.

[2021-09-09 08:19] #120 closed

[2021-09-20 13:52] #102 closed

[2021-09-30 15:46] #97 closed

[2021-10-03 08:48] #103 closed

[2021-10-03 08:48] 0pdd opened #134 "RubyGemMeta.java:18-23: Inspect rubygems API response to..."
The puzzle `103-34f1c84f` from #103 has to be resolved:

https://github.com/artipie/gem-adapter/blob/d5d717f342df37bf0c34bbb751d0e1a8ff772c5c/src/main/java/com/artipie/gem/ruby/RubyGemMeta.java#L18-L23

The puzzle was created by @g4s8 on 01-Oct-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2021-10-03 08:48] 0pdd commented on #103
@milkysoft the puzzle [#134](https://github.com/artipie/gem-adapter/issues/134) is still not solved.

[2021-10-04 09:44] #124 closed

[2021-10-04 09:44] 0pdd commented on #122
@g4s8 the only puzzle [#124](https://github.com/artipie/gem-adapter/issues/124) is solved here.

[2021-10-05 07:24] #122 closed

[2021-10-05 07:24] 0pdd opened #137 "YamlMetaFormat.java:20-25: Add tests for this class and..."
The puzzle `122-e8ad5314` from #122 has to be resolved:

https://github.com/artipie/gem-adapter/blob/b738c3d5211ef3a145ad02a3deb700636ef70623/src/main/java/com/artipie/gem/YamlMetaFormat.java#L20-L25

The puzzle was created by @g4s8 on 04-Oct-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pro

[2021-10-05 07:24] 0pdd commented on #122
@g4s8 the puzzle [#137](https://github.com/artipie/gem-adapter/issues/137) is still not solved; solved: [#124](https://github.com/artipie/gem-adapter/issues/124).

[2021-10-06 13:49] g4s8 commented on #87
Done in https://github.com/artipie/gem-adapter/releases/tag/v1.3

[2021-10-18 13:49] 0pdd commented on #85
@olenagerasimova the only puzzle [#101](https://github.com/artipie/gem-adapter/issues/101) is solved here.

[2021-10-19 10:30] 0pdd opened #140 "ApiGetSlice.java:31-34: Add tests for ApiGetSlice. Check..."
The puzzle `137-c2b83a35` from #137 has to be resolved:

https://github.com/artipie/gem-adapter/blob/1cc8d1056b61c5abfcfe34ee33b7d1ba7dde16a0/src/main/java/com/artipie/gem/http/ApiGetSlice.java#L31-L34

The puzzle was created by @LightPro-Inc on 19-Oct-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2022-03-15 07:26] dgarus commented on #134
@g4s8
Could you please reassign this issue?

[2022-09-05 06:51] CChengjie opened #195 "tag missing problem"
I'm doing a research on tags .
We found that versions like **0.5.2** was released in Maven, but there was no corresponding tag in github, Can you help me with this?
1）What is the reason for tag's absence?

- a、This version code has problems, such as the loophole, compatibility and interface issues, etc.
- b、This version has functional problems, such as unreasonable function planning, basic functio

[2022-11-03 09:13] tangjun-npm opened #205 "jruby-complete on which gems-adapter depends involves high-risk licenses."
jruby-complete on which gems-adapter depends involves high-risk licenses.

[2022-11-10 12:42] olenagerasimova commented on #205
@tangjun-npm hello again, I've taken a look into jruby-complete licenses. Jruby is distributed under three licenses - EPL 2.0, GPL 2.0 and LGPL 2.1. Normally, when the product distributed under [several conditions](https://en.wikipedia.org/wiki/Multi-licensing), it means, that the recipients can simply choose any condition they like. Here is the [confirmation](https://github.com/jruby/jruby/issues

[2022-11-10 12:42] #205 closed